.content
  flex-grow 1
  flex-shrink 0
  padding 12px 24px
  display flex
  justify-content center
  align-items flex-start

.sig-in-disclaimer
  align-self center
  margin 0
  font-size 32px
  font-weight bold

  &__anchor
    font-style italic
    color #332F2A

    &:hover
      cursor pointer
      opacity .8
